
<div class="contact-info">
	<h2>Contact Beauty Depot Enterprises</h2>
	<div class="custom-footer-item contact">
        	<div class="custom-footer-text" >e-mail:<a href="mailto:contactus@beauty-depot.ca">contactus@beauty-depot.ca</a></div>
        	<div class="custom-footer-text" >Telephone:<a href="tel:+14032632204">South: (403) 263-2204</a> | <a href="tel:+14032910495">South: (403) 291-0495</a></div>
        	<div class="custom-footer-text" >Fax:<a href="tel:+14032503996">(403) 250-3996</a></div>
        	<div class="custom-footer-text" >Toll Free:<a href="tel:+18006656520">1-800-665-6520</a></div>
        </div><!-- contact -->
        <br/>
	<p class="contact-info-title custom-footer-link">Other Email Contacts</p>
        <div class="custom-footer-item other-contact">
        	<div class="custom-footer-text" >Sales/Marketing:<a href="mailto:sales@beauty-depot.ca">sales@beauty-depot.ca</a></div>
        	<div class="custom-footer-text" >Education:<a href="mailto:education@beauty-depot.ca">education@beauty-depot.ca</a></div>
        	<div class="custom-footer-text" >Accounting:<a href="mailto:accounts@beauty-depot.ca">accounts@beauty-depot.ca</a></div>
        	<div class="custom-footer-text" >Administration:<a href="mailto:admin@beauty-depot.ca">admin@beauty-depot.ca</a></div>
        	<div class="custom-footer-text" >Receiving:<a href="mailto:ship@beauty-depot.ca">ship@beauty-depot.ca</a></div>
        </div><!-- other-contact -->
        <br/>
        <p class="contact-info-title custom-footer-link">Hours of Operatons</p>
        <div class="custom-contact-item hours">
        	<div class="custom-contact-text" >Monday - Friday: <span class="custom-footer-link">9AM to 5PM</span></div>
        	<div class="custom-contact-text" >Saturday: <span class="custom-footer-link">10AM to 3PM</span></div>
        	<div class="custom-contact-text" >Closed <span class="custom-footer-link">Sundays & Holidays</span></div>
        </div><!-- hours -->
        <br/>
</div>
<div class="featured-map">
    <section class="each-map">
            <div class="map-caption">
                <p class="map-description" >South Location: <a href="https://www.google.ca/maps/place/Beauty+Depot/@50.997955,-114.0650157,17z/data=!3m1!4b1!4m5!3m4!1s0x537170f827e7d8c1:0x83fcf83af9e8a29f!8m2!3d50.997955!4d-114.062827" target="new">108-61 Ave, SW Calgary, Alberta T2H 0B2</a></p>
            </div>
        <div class="map">
            <a href="https://www.google.ca/maps/place/Beauty+Depot/@50.997955,-114.0650157,17z/data=!3m1!4b1!4m5!3m4!1s0x537170f827e7d8c1:0x83fcf83af9e8a29f!8m2!3d50.997955!4d-114.062827" target="new">
                <img src="https://www.codeproject.com/KB/web-image/Google_map/sampleMap.JPG" class="map-image" alt="south location map image"> 
            </a>
        </div>
    </section>
    <section class="each-map">
            <div class="map-caption">
                 <p class="map-description" >North Location: <a href="https://www.google.ca/maps/place/1351+32+Ave+NE,+Calgary,+AB+T2E+7Z5/@51.0808997,-114.0271016,17z/data=!3m1!4b1!4m5!3m4!1s0x5371651bdd53bcf3:0xe25d2ca4a71bc763!8m2!3d51.0808997!4d-114.0249129" target="new">1351 32nd Ave, NE Calgary, Alberta T2E 7Z5</a></p>
            </div>
        <div class="map">
            <a href="https://www.google.ca/maps/place/1351+32+Ave+NE,+Calgary,+AB+T2E+7Z5/@51.0808997,-114.0271016,17z/data=!3m1!4b1!4m5!3m4!1s0x5371651bdd53bcf3:0xe25d2ca4a71bc763!8m2!3d51.0808997!4d-114.0249129" target="new">
                <img src="https://www.codeproject.com/KB/web-image/Google_map/sampleMap.JPG" class="map-image" alt="south location map image"> 
            </a>
        </div>
    </section>
</div>





<style>
.contact-info{
        display: flex;
        flex-direction: column;
        width: 90%; 
        margin: 0 auto;

}
.contact-info-title{
        margin: 1% 0 0 0 ;
        text-transform: bold;
}
.custom-contact-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
.custom-contact-text{
        margin-right: 2%;
}
.featured-map {
        display: flex;
        flex-wrap: wrap;
        color: #7f8c8d;
        padding-bottom: 30px;
        margin: 0 auto;
}
.title{
        text-align: center;
        width: 100%;
}

.each-map{
        width: 50%;
        height: auto;
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

}
.map-description{
        margin: 0;
        color: #7f8c8d;
}
.map-caption{
        width: 80%;
}
.map-title{
        color: #03a196;
}

.map{
        width: 80%;
}
.map-image{
        width: 100%;
        height: 300px;
}




   
@media only screen and (max-width: 768px) {
.contact-info{
        width: 80%;
}
 .map-image{
        width: 100%;
        height: 200px;
    }


}

@media only screen and (max-width: 400px) {
 .each-map{
        width: 100%;
        height: auto;
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


}
</style>




{% javascript %} 
{% endjavascript %}