<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
  {{ content_for_index }}
  	{% section 'collection-list' %}
  	<h1>Hey Dione!!!!!!!</h1>
  	{% section 'home-promo' %}
  	{% section 'featured-text' %}
  	{% section 'map' %}
  	{% section 'newsletter' %}
</div>
